@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v51-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v51-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v51-latin-700.woff2') format('woff2');
}

:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-secondary-dark: #000000;
  --color-secondary-neutral: #747272;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0px;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h2 {
  color: var(--color-primary-dark);
}

h2 span {
  color: var(--color-brand);
}

.conteiner {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  color: var(--color-primary-light);
  margin-bottom: 14px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
  border-radius: 32px;
}

.button:hover {
  color: var(--color-secondary-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand);
}

.arrow {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.arrow-icon {
  --color0: var(--color-primary-light); /* фон кола — білий */
  --color1: var(--color-primary-dark); /* обводка + стрілка — темні */
}

.arrow:hover .arrow-icon {
  --color0: var(--color-brand); /* фон кола стає синім */
  --color1: var(--color-primary-light); /* стрілка стає білою */
}
/*link*/

.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 18px;
  line-height: 100%;
}

.link:hover {
  color: var(--color-brand);
  font-weight: 700;
}
/* Header */

.header-section {
  background-color: var(--color-primary-light);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.header-nav {
  color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  gap: 240px;
}

.header-menu {
  display: flex;
  gap: 44px;
}

.header-social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-icon {
  --color0: var(--color-primary-dark);
}

/* Hero */

.hero-section {
  padding: 16.5px 0 63px 0;
  background-image: url('../image/Facial-Massage.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-conteiner {
  display: flex;
}
.hero-text-conteiner {
  margin-left: 244px;
  display: inline-block;
}

.hero-description {
  margin-bottom: 16px;
  color: var(--color-primary-dark);
}

.hero-title {
  color: var(--color-brand);
  margin-bottom: 40px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 140px;
  line-height: 114px;
}

.hero-subtitle {
  margin: 0px;
  max-width: 260px;
  text-align: center;
  color: #4a4a4a;
  line-height: 18px;
}

/* About */

.about-section {
  padding: 63px 0 88px 0;
}

.about-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.about-text-conteiner {
  max-width: 709px;
}

.about-title {
  margin-bottom: 40px;
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
}

.about-description {
  max-width: 653px;
  margin-bottom: 40px;
  color: var(--color-primary-dark);
  font-size: 22px;
  line-height: 38px;
}

.about-text {
  color: var(--color-primary-dark);
  font-size: 22px;
  line-height: 38px;
}

.about-text.limited {
  max-width: 567px;
}

.about-text strong {
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
}

.about-image {
  position: relative;
  width: 499px;
  height: 695px;
}

.about-image img {
  border-radius: 50%;
  object-fit: cover;
}

.about-image img:first-child {
  position: absolute;
}

.about-image img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Why Us */

.why-us-section {
  padding: 88px 0 48px 0;
}

.why-us-title {
  max-width: 441px;
  margin: 0 auto;
  color: var(--color-primary-dark);
  text-align: center;
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.why-us-image {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.why-us-article {
  width: 316px;
  height: 181px;
  padding: 24px 32px;
  border: 2px solid #a8c6ff;
  border-radius: 32px;
  text-align: center;
}

.why-us-text {
  color: var(--color-secondary-dark);
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

/* Services */

.services-section {
  padding: 48px 0 48px 0;
}

.services-title {
  color: var(--color-primary-dark);
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
}

.services-title span {
  color: var(--color-brand);
  font-size: 68px;
  line-height: 100%;
}

.service-slider {
  position: relative; /* не знаю розбрати */
  display: flex;
  align-items: center;
  gap: 24px;
}

.service-list {
  display: flex;
  gap: 24px;
}

.servise-card {
  position: relative;
  border-radius: 4px 120px 4px 120px;
  overflow: hidden;
}

.servise-photo {
  width: 100%;
  height: 460px;
  object-fit: cover;
  display: block;
}

.service-description {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color-primary-light);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0;
  z-index: 2;
}

.servise-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(1, 28, 68, 1) 0%,
    rgba(1, 28, 68, 0.7) 30%,
    rgba(1, 28, 68, 0) 72.58%
  );
  z-index: 1;
  border-radius: inherit;
}

/* Contact */

.contact-section {
  padding: 48px 0 47.5px 0;
}

.contact-title {
  color: var(--color-primary-dark);
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
}

.contact-conteiner {
  display: flex;
  gap: 32px;
}

.form-conteiner {
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  padding: 40px;
  max-width: 423px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-title {
  color: var(--color-primary-light);
  font-family: 'Roboto' 'Sans-serif';
  text-align: center;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
}

.form-section p span {
  color: var(--color-brand);
}

.form-section label {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 100%;
}

.form-label {
  background-color: transparent;
  font-size: 13px;
  line-height: 100%;
  border: 2px solid #747272;
  cursor: pointer;
  border-radius: 32px;
}

.form-label:hover {
  background-color: transparent;
  border: 2px solid var(--color-secondary-neutral);
}

.button-two {
  color: var(--color-primary-light);
  margin-bottom: 8px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
  border-radius: 32px;
}

.content-text {
  width: 272px;
  color: var(--color-secondary-neutral);
  text-align: center;
  margin: 0 auto;
}
/* Footer */

.footer-section {
  padding: 56px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-conteiner {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  font-style: normal;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-address-info,
.footer-contacts {
  flex-grow: 1;
}

.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 16px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
}

.footer-socials {
  display: flex;
  gap: 24px;
}

.footer-copyright {
  color: var(--color-secondary-neutral);
  font-size: 13px;
  line-height: 100%;
}

.footer-section::after {
  position: absolute;
  width: 250px;
  height: 150px;
  right: 0;
  bottom: 0;
  background-image: url('../image/decor-flacon.png');
  background-repeat: no-repeat;
  content: '';
}

/*Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 723px;
  height: 681px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  padding: 42px 144px;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.text-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 435px;
  margin: 0px auto;
}
.hero-modal {
  color: var(--color-primary-light);
  font-family: 'Play' 'Sans-serif';
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  margin: 0px;
  margin-bottom: 40px;
}

.form-title {
  font-family: 'Roboto' 'Sans-serif';
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 32px;
}

.form-title span {
  color: var(--color-brand);
}

.form-field {
  margin-bottom: 24px;
}

.modal-label {
  color: var(--color-primary-light);
}

.content-text {
  margin: 0px;
}
