
 @font-face {
     font-display: swap;
     font-family: 'Play';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
 }

 @font-face {
     font-display: swap;
     font-family: 'Play';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
 }

 @font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/roboto-v51-latin-regular.woff2') format('woff2');
 }

 @font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/roboto-v51-latin-600.woff2') format('woff2');
 }

 @font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto-v51-latin-700.woff2') format('woff2');

 }

 :root {
     --color-brand: #2B7FFF;
     --color-primary-dark: #011C44;
     --color-primary-light: #FFFFFF;
     --color-secondary-dark: #000000;
     --color-secondary-neutral: #747272;
 }

 /* Base */
 body {
     color: var(--color-primary-dark);
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
 }

 ul {
     list-style-type: none;
 }
 h2 {
     color: var(--color-primary-dark);
 }

 h2 span {
     color: var(--color-brand);
 }

 /* Button */
 .button {
     color: var(--color-primary-light);
     font-weight: 600;
     font-size: 18px;
     background-color: var(--color-brand);
     border: 2px solid var(--color-brand);
     cursor: pointer;
     border-radius: 8px;
 }

 .button:hover {
     color: var(--color-secondary-dark);
     background-color: transparent;
     border: 1px solid var(--color-brand);
 }

 /* Link*/

 .link {
     color: var(--color-primary-dark);
     text-decoration: none;
     font-size: 18px;
 }

 .link:hover {
     color: var(--color-brand);
     font-weight: 700;
     font-size: 18px;
 }


 /* Hero */

 .hero-title {
     color: var(--color-brand);
     font-family: 'Play';
     font-weight: 700;
     font-size: 140px;
     line-height: 1.2;
 }

 .hero-description {
     color: var(--color-primary-dark);
 }

 .hero-subtitle {
     color: #4A4A4A;
     line-height: 1.5;
 }

 /* Section */

 .section-title {
     color: var(--color-primary-dark);
     font-family: 'Play', sans-serif;
     font-weight: 700;
     font-size: 68px;
     line-height: 100%;
 }

 .section-title span {
     color: var(--color-brand);
     font-size: 68px;
     line-height: 100%;
 }

 /* About */

 .about-description {
     color: var(--color-primary-dark);
     font-size: 22px;   
     line-height: 1.7;
 }

 .about-text {
     color: var(--color-primary-dark);
     font-size: 22px;
     line-height: 1.7;
 }

 .about-text strong {
     font-weight: 600;
     font-size: 22px;
     line-height: 1.7;
 }

 /* Why Us */

 .why-us-text-1 {
     color: var(--color-secondary-dark);
     font-size: 18px;
     line-height: 1.3;
 }

 .why-us-text-2 {
     color: var(--color-secondary-dark);
     font-size: 18px;
     line-height: 1.3;
 }

 .why-us-text-3 {
     color: var(--color-secondary-dark);
     font-size: 18px;
     line-height: 1.3;
 }

 /* Services */

 .service-description {
     color: var(--color-primary-light);
        font-size: 22px;
        line-height: 1.9;
 }

 /* Contact */
 .form-title {
     font-family: 'Play';
     font-weight: 600;
     font-size: 22px;
     line-height: 100%;
 }

 .form-section p span {
     color: var(--color-brand);
     font-size: 22px;
     line-height: 100%;
 }

 .form-section label {
     color: var(--color-primary-light);
     font-size: 13px;
     line-height: 100%;
 }
 
 .consent-text {
    color: var(--color-secondary-neutral);
    font-size: 12px;
    line-height: 1.5;
 } 

 .form-label { 
    background-color: transparent;
     font-size: 13px;
     line-height: 100%;
     border: 2px solid #747272;
     cursor: pointer;
     border-radius: 32px;
    }

.form-label:hover {
    background-color: var(--color-secondary-neutral);
    border: 2px solid var(--color-secondary-neutral);
}

 /* Footer */

 footer a {
     color: var(--color-primary-light);
     text-decoration: none;
     font-size: 16px;
     line-height: 100%;
 }

 footer p {
    color:var(--color-secondary-neutral);
    font-size: 13px;
    line-height: 100%;
 }