@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v51-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v51-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v51-latin-700.woff2') format('woff2');
}

:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-secondary-dark: #000000;
  --color-secondary-neutral: #747272;
}

/* Base */
* {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h2 {
  color: var(--color-primary-dark);
}

h2 span {
  color: var(--color-brand);
}

.conteiner {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  color: var(--color-primary-light);
  margin-bottom: 14px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
  border-radius: 32px;
}

.button-two {
  color: var(--color-primary-light);
  margin-bottom: 8px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
  border-radius: 32px;
}

.button:hover {
  color: var(--color-secondary-dark);
  background-color: transparent;
  border: 1px solid var(--color-brand);
}

.arrow {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.arrow-icon {
  --color0: var(--color-primary-light); /* фон кола — білий */
  --color1: var(--color-primary-dark); /* обводка + стрілка — темні */
}

.arrow:hover .arrow-icon {
  --color0: var(--color-brand); /* фон кола стає синім */
  --color1: var(--color-primary-light); /* стрілка стає білою */
}
/*link*/

.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 18px;
  line-height: 100%;
}

.link:hover {
  color: var(--color-brand);
  font-weight: 700;
}
/* Header */

.header-section {
  background-color: var(--color-primary-light);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.header-nav {
  color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  gap: 240px;
}

.header-menu {
  display: flex;
  gap: 44px;
}

.header-social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-icon {
  --color0: var(--color-primary-dark);
}

/* Hero */

.hero-section {
  padding: 16.5px 0 63px 0;
  background-image: url('../image/Facial-Massage.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-conteiner {
  display: flex;
}
.hero-text-conteiner {
  margin-left: 244px;
  display: inline-block;
}

.hero-description {
  margin-bottom: 16px;
  color: var(--color-primary-dark);
}

.hero-title {
  color: var(--color-brand);
  margin-bottom: 40px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 140px;
  line-height: 114px;
}

.hero-subtitle {
  max-width: 260px;
  text-align: center;
  color: #4a4a4a;
  line-height: 18px;
}

/* About */

.about-section {
  padding: 63px 0 88px 0;
}

.about-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.about-text-conteiner {
  max-width: 709px;
}

.about-title {
  margin-bottom: 40px;
  color: var(--color-primary-dark);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
}

.about-description {
  max-width: 653px;
  margin-bottom: 40px;
  color: var(--color-primary-dark);
  font-size: 22px;
  line-height: 38px;
}

.about-text {
  color: var(--color-primary-dark);
  font-size: 22px;
  line-height: 38px;
}

.about-text.limited {
  max-width: 567px;
}

.about-text strong {
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
}

/* Why Us */

.why-us-section {
  padding: 88px 0 48px 0;
}

.why-us-title {
  max-width: 441px;
  margin: 0 auto;
  color: var(--color-primary-dark);
  text-align: center;
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.why-us-image {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.why-us-article {
  width: 316px;
  height: 181px;
  padding: 24px 32px;
  flex: 1;
  border: 2px solid #a8c6ff;
  border-radius: 32px;
  text-align: center;
}

.why-us-text {
  color: var(--color-secondary-dark);
  font-size: 18px;
  line-height: 1.3;
}

/* Services */

.services-section {
  padding: 48px 0 48px 0;
}

.services-title {
  color: var(--color-primary-dark);
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
}

.services-title span {
  color: var(--color-brand);
  font-size: 68px;
  line-height: 100%;
}

.service-slider {
  position: relative; /* не знаю розбрати */
  display: flex;
  align-items: center;
  gap: 24px;
}

.service-list {
  display: flex;
  gap: 24px;
}

.servise-card {
}

.service-description {
  color: var(--color-primary-light);
  text-align: center;
  padding: 0 20px;
  font-size: 22px;
  line-height: 26px;
}

/* Contact */

.contact-section {
  padding: 48px 0 47.5px 0;
}

.contact-title {
  color: var(--color-primary-dark);
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
}

.contact-conteiner {
  display: flex;
  gap: 32px;
}

.form-conteiner {
  background-color: var(--color-primary-dark);
  border-radius: 32px;
  padding: 40px;
  max-width: 423px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-title {
  color: var(--color-primary-light);
  font-family: 'Play';
  text-align: center;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  padding: 0 75px;
}

.form-section p span {
  color: var(--color-brand);
}

.form-section label {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 100%;
}

.form-label {
  background-color: transparent;
  font-size: 13px;
  line-height: 100%;
  border: 2px solid #747272;
  cursor: pointer;
  border-radius: 32px;
}

.form-label:hover {
  background-color: var(--color-secondary-neutral);
  border: 2px solid var(--color-secondary-neutral);
}

.content-text {
  width: 272px;
  color: var(--color-secondary-neutral);
  text-align: center;
  margin: 0 auto;
}
/* Footer */

.footer-section {
  padding: 47.5px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-conteiner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 186px;
  margin-right: 180px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-address {
  display: flex;
  font-style: normal;
  align-items: flex-start; /* якщо контакти праворуч, вирівняні по правому краю */
  gap: 186px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 100%;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-socials {
  display: flex;
  gap: 24px;
}

.footer-address-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-copyright {
  color: var(--color-secondary-neutral);
  font-size: 13px;
  line-height: 100%;
}
