.about-title span {
  color: var(--color-brand);
}

.why-us-title span {
  color: var(--color-brand);
}

.services-title span {
  color: var(--color-brand);
  font-size: 68px;
  line-height: 100%;
}

.contact-title span {
  color: var(--color-brand);
}

.form-section p span {
  color: var(--color-brand);
}

.modal-title span {
  color: var(--color-brand);
}
