:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-secondary-dark: #000000;
  --color-secondary-neutral: #747272;
  --color-secondary-light: #4a4a4a;
  --color-border-light: #a8c6ff;
}
