.button {
  color: var(--color-primary-light);
  margin-bottom: 14px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
  border-radius: 32px;
}

.button:hover {
  color: var(--color-secondary-dark);
  background-color: transparent;
  border: 2px solid var(--color-brand);
}

.button-two {
  color: var(--color-primary-light);
  margin-bottom: 8px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
  border-radius: 32px;
}
