.fase-card {
  position: relative;
  width: 499px;
  height: 695px;
}

.fase-card img {
  border-radius: 50%;
  object-fit: cover;
}

.fase-card img:first-of-type {
  position: absolute;
}

.fase-card img:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
}

.star-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star-icon svg:nth-child(1) {
  position: absolute;
  top: 336px;
  left: 117px;
  transform: rotate(30deg);
}

.star-icon svg:nth-child(2) {
  position: absolute;
  top: 32px;
  left: 471px;
  transform: rotate(-30deg);
}

.star-icon svg:nth-child(3) {
  position: absolute;
  top: 269px;
  left: 472px;
  transform: rotate(22.91deg);
}
