.footer-section {
  padding: 56px 0;
  position: relative;
  background-image: url('../image/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    font-style: normal;
    gap: 20px;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-info,
  &__contacts {
    flex-grow: 1;
  }

  &__address-list {
    display: flex;
    flex-direction: column;
  }

  &__socials {
    display: flex;
    gap: 24px;
  }

  &__copyright {
    color: var(--color-secondary-neutral);
    font-size: 13px;
    line-height: 100%;
  }

  &::after {
    position: absolute;
    width: 250px;
    height: 150px;
    right: 0;
    bottom: 0;
    background-image: url('../image/decor-flacon.png');
    background-repeat: no-repeat;
    content: '';
  }
}
