.header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.25);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
  }

  &__nav {
    color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    gap: 240px;
  }

  &__menu {
    display: flex;
    gap: 44px;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__icon {
    --color0: var(--color-primary-dark);
  }
}
