.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-image: url('../image/background-modal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  padding: 42px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal-btn-close svg {
  color: var(--color-primary-light);
}

.modal-btn-close:hover svg {
  color: var(--color-brand);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 435px;
  margin: 0px auto;
}
.modal-title {
  color: var(--color-primary-light);
  font-family: 'Play', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  margin: 0px;
  margin-bottom: 40px;
}

.modal-text {
  color: var(--color-primary-light);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 32px;
  margin-top: 0;
}

.modal-text span {
  color: var(--color-brand);
}

.form-field {
  color: var(--color-primary-light);
  margin-bottom: 24px;
  width: 100%;
}
